.text-center {
    text-align: center;
}
.country-image{
    width: 36px;
    height: 26px;
    background-color: 1px solid lightgray;
}
table tr td:first-child {
    font-weight: bold;
    width: 50%;
}