<div *ngIf="countryDetails" class="table-responsive">
  <h4 class="text-center">Country Details</h4>
  <table class="table table-bordered table-striped table-hover">
    <tbody>
      <tr>
        <td>Name</td>
        <td>{{ countryDetails.name }}</td>
      </tr>

      <tr>
        <td>Capital</td>
        <td>{{ countryDetails.capital }}</td>
      </tr>
      <tr>
        <td>Population</td>
        <td>{{ countryDetails.population | number }}</td>
      </tr>
      <tr>
        <td>Currencies</td>
        <td>{{ currencyDisplay(countryDetails.currencies) }}</td>
      </tr>
      <tr>
        <td>Flag</td>
        <td>
          <img
            class="country-image"
            [src]="countryDetails.flag"
            loading="lazy"
            alt="Country Flag"
          />
        </td>
      </tr>
    </tbody>
  </table>
</div>
